# Visual Studio Code User Settings
.vscode/*

###  C / C++ Language Template ### 
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.slo
*.lo

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.lai

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Python stuff
*.venv

# Folder stuff
Workshop1/tempCodeRunnerFile.py
Workshop1/Users.csv
Workshop1/Images
Workshop1/env
Workshop1/*.env
Workshop1/UserData/*
Workshop1/UserLogs/*
Workshop1/UserFriends/*
Workshop1/Groups/*
Workshop1/GroupLogs/*